/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 1;
}

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* width: 1366px; */
  font-size: 2rem;

  padding: 3rem 6rem;
  height: 9.8rem;
}

.header img {
  width: 20rem;
}

.main-nav-list {
  list-style: none;
  font-size: 2rem;
  font-weight: 400;

  display: flex;
  gap: 5.2rem;
}

.main-nav-list .active {
  color: #00859f;
  font-weight: 700;
}

.main-nav-link {
  text-decoration: none;
  color: #aaaaaa;
}

.main-nav-link.sign-up:link,
.main-nav-link.sign-up:visited {
  border: 2px solid #2db3cd;
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: #2db3cd;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2rem;
}

.main-nav-link.sign-up:hover {
  background-color: #2db3cd;
  color: #fff;
  transition: all 0.5s;
}

.main-nav-link.login:link,
.main-nav-link.login:visited {
  border: 2px solid #2db3cd;
  background-color: #2db3cd;
  padding: 1rem 2rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 2rem;
}

/**************************/
/* SECTION HERO */
/**************************/
.section-hero {
  height: 86vh;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;

  padding: 8rem 19rem;
}

.hero-heading {
  color: #262160;
  font-size: 6.4rem;
  text-align: center;
  line-height: 10rem;
  font-weight: bold;
}

.hero-description {
  color: #54436b;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 15rem;
  line-height: 1.2;
}

.hero-search {
  background-color: #ebf8fb;
  width: 82rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.hero-search-job input,
.hero-search-location input {
  width: 28rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  background-color: #fff;
  color: inherit;
  border: 1px solid #fff;
  border-radius: 5px;
}

.hero-search-btn {
  padding: 1.2rem 2.4rem;
  background-color: #2db3cd;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  box-shadow: 0 1px 2px rgba(rgb(71, 71, 71));
  cursor: pointer;
  box-shadow: 0 0 1.2rem #2db3cd;
}

/**************************/
/* POPULAR JOB */
/**************************/
.popular-job {
  height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2.4rem;
}

.popular-job-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  color: #262160;
}

.popular-job-description {
  /* width: 52rem; */
  color: #54436b;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.popular-job-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

.job-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 32rem;
  border: 1px solid #dedede;
  border-radius: 9px;
  text-align: left;
  padding: 2rem;

  transition: all 0.4s;
}

.job-list:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.job-list-logo {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.job-list-logo img {
  width: 3.6rem;
  padding: 6px;
  background-color: rgba(241, 241, 241, 0.9);
  border-radius: 5px;
}

.job-list-logo-name {
  font-size: 1.6rem;
  color: #1e1e1e;
  font-weight: inherit;
  line-height: 2rem;
}

.job-list-logo-date {
  font-size: 1.2rem;
  color: #54436b;
  line-height: 2rem;
}

.job-list-position {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #262160;
  font-weight: bold;
}

.job-list-position p:first-child {
  margin-bottom: 0.6rem;
}

.job-list-salary {
  font-size: 1.2rem;
  color: #828282;
}

.job-list-applied {
  font-size: 1.2rem;
  color: #828282;
}

.job-list-applied span {
  font-weight: bold;
  color: #262160;
}

.job-list-applied progress {
  margin-bottom: 0.6rem;
  padding: 20px;
}

.btn-apply {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: #2db3cd;
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}

.btn-popular-job {
  text-decoration: none;
  font-size: 2.4rem;
  color: #2db3cd;
  border: 2px solid #2db3cd;
  padding: 0.5rem 2rem;
  border-radius: 9px;
}

.btn-popular-job:hover {
  background-color: #2db3cd;
  color: #fff;
  transition: all 0.5s;
}

/**************************/
/* HOW TO APPLY */
/**************************/
.how-to-apply {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 6.4rem;
}

.left-apply {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.heading-apply {
  font-family: "Poppins", sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #262160;
}

.p-apply {
  font-size: 2rem;
  color: #54436b;
  line-height: 3.2rem;
  width: 55rem;
}

.list-apply {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border: 1px solid #e0e0e0;
  border-radius: 9px;
  width: 40rem;
  padding: 5.6rem 3.2rem 3.2rem 3.2rem;
}

.list-apply-image {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.list-apply-image img {
  width: 64px;
  padding: 12px;
  background-color: #2db3cd;
  border-radius: 9px;
}

.list-apply-heading h3 {
  margin-bottom: 0.8rem;
  color: #54436b;
  font-weight: 700;
  font-size: 2.4rem;
}

.list-apply-heading p {
  font-size: 2rem;
  color: #54436b;
  font-weight: 400;
  line-height: 3.2rem;
}

.line {
  background-color: #dedede;
  height: 0.3rem;
  width: 50%;
  margin: -2rem auto 0 auto;
}

.right-apply {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-apply-image {
  width: 480px;
  border-radius: 9px;
}

.right-apply div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-brand {
  width: 16rem;
}

/**************************/
/* SEND */
/**************************/
.send-container {
  background-color: #f9f9f9;
  border-radius: 9px;
  width: 90vw;
  height: 50vh;
  margin: 0 auto;
}

.p-send-container {
  color: #262160;
  font-size: 2.4rem;
  /* width: 60vw;
  margin: 0 auto;
  text-align: center; */
  /* padding-top: 9.2rem; */
}

.form-send {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 4rem;
  justify-content: center;
  justify-items: center;
}
